@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 8% 5%;

    --card: 240 8% 97%;
    --card-foreground: 240 8% 5%;

    --popover: 240 8% 97%;
    --popover-foreground: 240 8% 5%;

    --primary: 221 86% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 6% 93%;
    --secondary-foreground: 240 8% 5%;

    --muted: 210 6% 93%;
    --muted-foreground: 223 6% 45%;

    --accent: 210 6% 93%;
    --accent-foreground: 240 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 6% 90%;
    --input: 220 7% 82%;
    --ring: 221 24% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 210 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 221 86% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 225 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 5% 22%;
    --muted-foreground: 220 5% 49%;

    --accent: 220 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 5% 12%;
    --input: 225 4% 18%;
    --ring: 221 86% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  max-width: 1300px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 0;
  }
}
